data
*data.sh
yellow_*.csv*
green_*.csv*
fhv_*.csv*
01*/*/taxi_zone_lookup.csv
output.csv*
.ipynb_checkpoints
.env
lib


# Terraform
.terraform
.terraform.lock.*
terraform.tfstate
terraform.tfstate.backup


# Mage
mage_data
magic-zoomcamp
02_*/*.csv
google_credentials_mage.json

# Mage / Terraform / GCP
gcp/


# dlt
dlt_ipykernel_launcher.duckdb